@page "/"
@namespace Face.Demo.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>Face Platform Demo</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
